# Backend
backend/venv/
backend/__pycache__/
backend/.env
backend/*.ex4
backend/data.db
backend/data.db-wal
backend/data.db-shm

# Frontend
frontend/node_modules/
frontend/.next/

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/
backend/ngrok.exe
start.bat
